/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    overflow: hidden;  /* Évite que l'image dépasse du conteneur */
}

.navbar .logo {
    max-width: 100%;   /* Assure que l'image ne dépasse pas la largeur du conteneur */
    height: auto;      /* Garde la proportion de l'image */
    margin-right: 15px;
}

.navbar h2 {
    font-size: 24px;
    font-weight: bold;
}
